temperature-conversion-service/src/main/resources/wsdl/temperature-conversion.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:tns="https://w3schools.com/xml/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="https://w3schools.com/xml/"
	name="TempConversion">
	
  <wsdl:types>
    <s:schema 
    	targetNamespace="https://w3schools.com/xml/"
    	elementFormDefault="qualified" 
    	attributeFormDefault="unqualified" version="1.0">
      <s:element name="FahrenheitToCelsius" >
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Fahrenheit" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="FahrenheitToCelsiusResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Celsius" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="CelsiusToFahrenheitResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FahrenheitToCelsiusSoapIn">
    <wsdl:part element="tns:FahrenheitToCelsius" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsiusSoapOut">
    <wsdl:part element="tns:FahrenheitToCelsiusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitSoapIn">
    <wsdl:part element="tns:CelsiusToFahrenheit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitSoapOut">
    <wsdl:part element="tns:CelsiusToFahrenheitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TempConvert_PortType">
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input message="tns:FahrenheitToCelsiusSoapIn"/>
      <wsdl:output message="tns:FahrenheitToCelsiusSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input message="tns:CelsiusToFahrenheitSoapIn"/>
      <wsdl:output message="tns:CelsiusToFahrenheitSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TempConvert_Binding" type="tns:TempConvert_PortType">
    <soap:binding style="document" 
    	transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="https://w3schools.com/xml/FahrenheitToCelsius"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="https://w3schools.com/xml/CelsiusToFahrenheit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempConvert_Service">
    <wsdl:port binding="tns:TempConvert_Binding" name="TempConvert_Port">
      <soap:address location="http://localhost:8080/temperature-conversion-service/w3schools/xml/tempconvert"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
